*{
    margin: 0;
    padding: 0;
}

body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container{
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
}